---
import Verified from "../../icons/Verified.astro";
---

<div data-aos="fade-up" class="w-full h-screen py-20">
  <div class="grid grid-cols-2 bg-zinc-900 h-full p-2 rounded-xl shadow-lg">
    <img
      data-aos="zoom-in"
      data-aos-offset="0"
      src="/images/building.jpeg"
      alt=""
      class="w-full h-full object-cover rounded-xl"
    />
    <div
      class="flex flex-col justify-center items-center p-10 text-center gap-10"
    >
      <p
        data-aos="fade-down"
        data-aos-offset="100"
        class="text-6xl font-medium text-white gap-2 inline-block"
      >
        <span class="inline-block"> <Verified sizes="50" /> </span>
        WANT STYLE? FIND CLOTHES WITH YOUR PERSONALITY AND QUALITY UNIQUE LIKE U.
      </p>
      <button
        data-aos="zoom-in"
        data-aos-offset="100"
        class="text-white border-2 px-10 text-xl rounded-full py-1"
        >Visit Us</button
      >
    </div>
  </div>
</div>
