---
import Bag from "../../icons/Bag.astro";
import Heart from "../../icons/Heart.astro";
import Line from "../../icons/Line.astro";

const { image, title } = Astro.props;
---

<div
  data-aos="zoom-in"
  class="w-full aspect-[1/1.02] border shadow-md bg-[#1b1b1b] flex flex-col gap-4 px-7 py-10 rounded-lg"
>
  <div
    data-aos="fade-up"
    class="bg-no-repeat w-full h-full bg-center bg-contain border border-opacity-10 border-white"
    style={{
      backgroundImage: `url(${image})`,
    }}
  >
  </div>
  <div class="flex flex-col text-white gap-2">
    <p
      data-aos="fade-left"
      data-aos-offset="0"
      class="text-3xl text-pretty font-medium"
    >
      {title}
    </p>
    <div class="flex items-center justify-between">
      <button
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-offset="0"
        class="w-fit px-6 py-1 rounded-full bg-white text-[#1b1b1b] font-medium text-lg flex items-center gap-5"
        >Shop Now <span> <Line sizes="20" /> </span></button
      >

      <button>
        <Heart sizes="30" />
      </button>
    </div>
  </div>
</div>
