<footer
  class="w-full min-h-96 bg-zinc-900 text-white px-20 py-10 text-2xl grid grid-cols-2"
>
  <div class="flex justify-between flex-col gap-4">
    <h1 class="grow text-4xl">TOSKA</h1>
    <p class="text-5xl w-96">
      BEST PRICES, AFFORDABLE PRICES, SAFE IN YOUR HANDS
    </p>
    <p class="text-sm">&copy; 2025 Toska. All Rights Reserved.</p>
  </div>
  <div class="flex flex-col">
    <div class="grid grid-cols-3 gap-2 grow justify-items-end">
      <nav>
        <ul class="flex flex-col gap-3">
          <li><a href="#">NEW</a></li>
          <li><a href="#">FEATURING</a></li>
          <li><a href="#">SALE</a></li>
          <li><a href="#">DEVELOPER</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="flex flex-col gap-3">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">RELEASES</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">PQRS</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="flex flex-col gap-3">
          <li><a href="#">INSTAGRAM</a></li>
          <li><a href="#">FACEBOOK</a></li>
          <li><a href="#">TIKTOK</a></li>
          <li><a href="#">X</a></li>
        </ul>
      </nav>
    </div>
    <nav class="self-end flex items-center gap-10">
      <button>Legal</button>
      <button>Cookie Settings</button>
      <button>English</button>
    </nav>
  </div>
</footer>
