<div class="w-full h-screen py-20">
  <div
    style="transition: all 0.323s ease;"
    class="grid
    grid-cols-2
    grid-rows-2
    w-full
    h-full
    gap-2
    gridcontainer
    hover:gap-5
    "
  >
    <img
      style="cursor: pointer; transition: all 0.323s ease;"
      data-aos="zoom-in"
      data-aos-offset="0"
      src="/images/discount.jpeg"
      alt=""
      class="row-span-2 w-full h-full bg-red-50 object-cover object-center rounded-xl"
    />
    <img
      style="cursor: pointer; transition: all 0.323s ease;"
      data-aos="zoom-in"
      data-aos-offset="0"
      src="/images/women.jpeg"
      alt=""
      class="h-full w-full rounded-xl object-cover object-top"
    />
    <img
      style="cursor: pointer; transition: all 0.323s ease;"
      data-aos="zoom-in"
      data-aos-offset="0"
      src="/images/sizes.jpeg"
      alt=""
      class="h-full w-full rounded-xl object-cover grayscale hover:grayscale-0"
    />
  </div>
</div>

<!-- <style>
  img {
    cursor: pointer;
    transition: all 0.323s ease;
  }

  .gridcontainer {
    transition: all 0.323s ease;
  }

  .gridcontainer:hover img {
    filter: blur(5px) grayscale(100%);
  }

  .gridcontainer:hover img:hover {
    filter: blur(0) grayscale(0);
  }
</style> -->
