<header class="flex items-center px-40 py-2 justify-between min-h-16 border-b">
  <nav class="flex items-center gap-10">
    <a href="#">
      <img
        src="/images/logo.png"
        alt=""
        class="w-14 rounded-full aspect-square"
      /></a
    >
    <ul class="flex items-center gap-5 text-xl">
      <li><a href="#" class="flex gap-2 items-center">Shop</a></li>
      <li><a href="#">Más Vendidos</a></li>
      <li><a href="#">Lo nuevo</a></li>
    </ul>
  </nav>
  <nav class="flex items-center gap-4">
    <button class="w-10 rounded-full aspect-square bg-black text-white"
      >1</button
    >
    <button class="w-10 rounded-full aspect-square bg-black text-white"
      >1</button
    >
    <button class="w-10 rounded-full aspect-square bg-black text-white"
      >1</button
    >
  </nav>
</header>
