---
import Line from "../../icons/Line.astro";
---

<section
  data-aos="fade-up"
  class="max-w-screen max-h-screen flex items-center overflow-hidden py-10"
>
  <div
    class="min-w-full w-full aspect-video rounded-xl flex items-end justify-start p-8 shadow"
    style="
    background-image: url('/images/kensei.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    "
  >
    <div class="w-full flex items-end justify-between">
      <div
        class="text-7xl text-zinc-900 hover:text-amber-600 relative cursor-none px-4 border-l-4 border-black hover:pl-5 transition-all duration-300"
      >
        <p data-aos="fade-left" data-aos-offset="0" data-aos-delay="300">
          DISCOVER
        </p>
        <p data-aos="fade-left" data-aos-offset="0" data-aos-delay="500">OUR</p>
        <p data-aos="fade-left" data-aos-offset="0" data-aos-delay="700">
          COLLECTION
        </p>
      </div>
      <button
        data-aos="zoom-in"
        data-aos-offset="0"
        data-aos-delay="500"
        style="cursor: pointer; transition: all 0.323s ease;"
        class="bg-zinc-900 text-xl h-fit px-8 py-2 rounded-full text-white flex items-center gap-5 w-48 justify-center hover:gap-8 transition-all"
        >Explore
        <Line sizes="20" />
      </button>
    </div>
  </div>
</section>
