<section
  data-aos="fade-up"
  class="max-w-screen max-h-screen flex items-center overflow-hidden py-10"
>
  <div
    class="min-w-full w-full aspect-video rounded-xl flex items-end justify-start p-8 shadow"
    style="
    background-image: url('/images/sizes.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    "
  >
    <div
      class="w-full flex items-end justify-between border-l-4 border-black px-4"
    >
      <div
        class="text-7xl text-zinc-900 hover:text-indigo-700 relative transition-all cursor-none duration-300"
      >
        <p data-aos="fade-down" data-aos-offset="0" data-aos-delay="300">
          DISCOVER
        </p>
        <p data-aos="fade-down" data-aos-offset="0" data-aos-delay="500">OUR</p>
        <p data-aos="fade-down" data-aos-offset="0" data-aos-delay="700">
          COLLECTION
        </p>
      </div>
      <button
        data-aos="zoom-in"
        data-aos-offset="0"
        data-aos-delay="500"
        class="bg-zinc-900 text-xl h-fit px-8 py-2 rounded-full text-white"
        >Explore</button
      >
    </div>
  </div>
</section>
