<header class="flex items-center px-20 py-2 justify-between min-h-16 border-b">
  <nav class="flex items-center gap-10">
    <img
      src="/images/logo.png"
      alt=""
      class="w-12 rounded-full aspect-square"
    />
    <ul class="flex items-center gap-5">
      <li><a href="">Shop</a></li>
      <li><a href="">Más Vendidos</a></li>
      <li><a href="">Lo nuevo</a></li>
    </ul>
  </nav>
  <nav>
    <button>1</button>
    <button>2</button>
    <button>3</button>
  </nav>
</header>
