<section class="max-w-screen max-h-screen flex items-center overflow-hidden px-40 py-10">
  <div
    class="min-w-full w-full aspect-video rounded-xl flex items-end justify-start p-8"
    style="
    background-image: url('/images/sizes.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    
    "
  >
    <p class="text-6xl font-bold text-indigo-500 w-10">DISCOVER OUR COLLECTION</p>
  </div>
</section>
